# editor backups
*.orig
*~
.*.un~
.DS_Store

# android studio
/local.properties
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/libraries/
/.idea/misc.xml
/.idea/workspace.xml
*.iml

# built files
/.gradle/
*.apk
/build/
